.container-home{
   display: flex;
   flex-direction: column;
   margin-top: 180px;
   margin-left: 40px;
   margin-right: 40px;   
 }
 .items-offers-home{
   display: flex;
   flex-direction: column;
 }
.offers-home-title{
    display: flex;
    flex-direction: column;
    
}
.title-banner-home{   
    margin-left: 10px;
}
.subtitle-banner-home{
    font-size: 20px;
    margin-left: 10px;
    margin-top: -10px;
}
.items-packages-home{
  display: flex;
  flex-direction: column;

}
.title-package-home{
  margin-left: 10px;
}
.items-hotel-home{
  display: flex;
  flex-direction: column;
}
.title-hotel-home{
  margin-left: 10px;
}