.conteiner-hotel{
    margin-top: 30px;
    border-radius:20px;
    background-color: #fff;
    width: 390px;
    height: 465px;
    border: none;
    margin: 15px;
    transform: translateY(0);
    transition: box-shadow .25s,transform .25s;

}
.img-hotel{
    width: 390px;
    height: 200px;
    border-radius:20px 20px 0 0 ;
}

.items-price-hotel{
    display: flex;
    flex-direction: row-reverse;        
    margin: 30px;
    margin-top: -70px;
    justify-content: space-between;
}
.price-hotel{
    font-size: 15px;
    margin-bottom: -20px;
    
}
.price-prev-hotel{
    font-size: 20px;
    margin-bottom: -20px;
    text-decoration-line: line-through;
}
.colorprice-hotel{
    color: #ff3e02;   
    font-weight: bold;
    font-size: 20px;
    margin-bottom: -10px;
}
.price-data-hotel{
    display: flex;
    flex-direction: column;
   align-items: center;
   margin-bottom: -50px;
}
.text-taxes-hotel{
    font-size: 14px;
    color: #323231
}


.title-hotel{
    font-size: 16px;
    color: #035373; 
    margin-right: 20px; 
    margin-left: 20px;
  
}


.item-promotion-hotel{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    margin-top: -180px;   
    border-radius: 0 100px  100px 0;    
    padding-left: 10px;
    height: 50px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #f4991a;
    transition: border-color 0.25s;
    color: #fff;
    /* hsla(0,0%,100%,.8); */
   

}
.discount-hotel{
    font-size: 19px;
    text-shadow: black 0.1em 0.1em 0.1em;
}

.icon-border-hotel{
    
    margin-left: 10px;
    background-color: #fff;    
    padding: 8px;
    border-radius: 100%;
    height:30px;
    width:30px
   
  
}
.icon-hotel-promo{
    color: #035373;  
    font-size: 30px;  
   }

.availability-hotel{    
    margin-left: 20px;
    color:#323231;
    font-weight: 300;
    margin-bottom: -10px;
}

.favorite{
    cursor: pointer;
    background-color: hsla(0,0%,100%,.5);; 
    border-radius: 50%;
    position: absolute;
    font-size: 28px;
    margin-left: 340px;
    margin-top: 20px;
    padding: 5px;
    color:#323231;
    opacity: 70%;
    
  
    }
.share{
        cursor: pointer;
        background-color: hsla(0,0%,100%,.5);; 
        border-radius: 50%;
        position: absolute;
        font-size: 28px;
        margin-left: 290px;
        margin-top: 20px;
        padding: 5px;
        color:#323231;
        opacity: 70%;
        
    }
.item-date-hotel{
    font-size: 15px;
    font-weight: 600;
    color:#323231
    }


.items-destination-hotel{
    display: flex;
    flex-direction: row;  
    align-items: center;
    margin-left: 20px;
    margin-top: -20px;
}

.destination-hotel{
    font-size: 15px;
    font-weight: 600;
    color:#323231;
    text-shadow: rgb(255, 62, 2) 0.1em 0.1em 0.4em;
    }

.items-availability-hotel{       
    display: flex;
    flex-direction: row;  
    margin-top: -15px;
    }
    .item-persons-hotel{
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        align-items: center;
        margin-left: 20px;
    }
    .persons-hotel{
        margin-right: 5px;
        font-size: 20px;  
         color: #323231
    }
    .button-buy-hotel{
        display: flex;        
       margin-top: 70px;
      color: #323231

    }
  
    .icon-hotel{
        font-size: 19px;      
        color: #323231;
        margin-right: 5px;
        
        
    }
    .item-hotel{
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 2px;
        
    }

    .data-availability-hotel{
        margin-left: -20px;
    }
    .icon-location-hotel{
        color: #ff3e02;
        margin-right: 5px;
        font-size: 20px;
    }